# Arquivos do Node
# Diretório de dependências
**node_modules/

# Logs de depuração
npm-debug.log
yarn-debug.log

# Variáveis de ambiente
cypress.env.json

# Cypress
# Vídeos, capturas de tela e relatórios de testes
**cypress/videos/
**cypress/screenshots/
**cypress/results/
**cypress/reports/